

/* Fonts */



@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Lato:wght@400;700&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Lato:wght@400;700&family=Marck+Script&family=Tilt+Prism&display=swap');

/* "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

/* ¡¡¡¡¡ ARRANCAMOS CON EL CODIGO !!!! */

/* usamos el selector universal para afectar a 
todos los elementos */



/* *********************************************************************************** */





header{
    height: 90px;
    width: 100%;
    position: fixed;
    border-bottom-style: ridge;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    background-color: #e9dec4;
    
    


}
   
body{
    background-color:  #e9dec4 ;
    font-family: 'Lato', sans-serif;
    color:   #2f3438;
    font-size: 18px;
    line-height: 1.2;

}

footer{
    height: 90px;
    
    text-align: center;
    color:  #fbfbfb;
    font-size: 18px;
    line-height: 1.2;

}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}




section{
    
    
    text-align: center;
    

}







/* Container 1 */

.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    

    
  }


  

#logo{
    height: 50px;
    width: 60px;

}



#navegador{
    
    display: inline-block;
    padding: 15px;
    width: 900px;
    text-align: center;
    
    
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

#btncontacto {
    
    
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bold;
   

  }

/* Container 2 */

#flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;



  }



#fotoprincipal{
    border-radius: 50%;
    margin-top: 120px;
    max-width: 400px;
    
    
    
}

#textobio{
    width: 600px;
    margin-top: 120px;

}



#btncv{
    background-color: #db6600;
    border-radius: 30px 30px 30px 30px;
    height: 50px;
    width: 200px;
    color: #fbfbfb;
    font-size: 20px;
    
    
}

/* container 3 */

#flex-container3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    padding-top: 90px;
    
    
    


  }




.tarjeta {
    display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta img {
    
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
    margin-right: 70px;
    
  }
  
  .tarjeta img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  
  /* container 4 */





#marca{
    font-family: 'Marck Script', cursive;


}

#flex-container4 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #db6600;
    border-radius: 30px;
    height: 450px;
    margin-top: 90px;


  }
  
  .card {
    width: 300px;
    
    padding: 10px;
    margin: 10px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
/* Container 5 */

  #flex-container5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #e9dec4;
    
    
    

    
  }

  .flex-containerfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #4CAF50;
    
  }

  @media(max-width:700px){


    #flex-container1 {
      display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

  }

  #navegador {
    width: 300px;
  }
    


  /* Estilos para el logo */
  #logo {
    width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    height: 30px;
  }

  



    #flex-container2 {
      display: flex;
      flex-direction: column;
      
      align-items: center;
      height: auto;
      width: auto;
    }
   
    #fotoprincipal{
        max-width: 300px;
        max-height: 300px;
    
    }

    #textobio{
      width: 300px;
    
    }

    #flex-container3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      
      
      
    }

    .tarjeta {
      display: flex;
      justify-content: center;
      align-items: center;
      
      
      
    }

    #flex-container4{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      
      
      
  
    }

    

    #flex-container5{
      display: flex;
      flex-direction: column;
    
      height: auto;
    }
  }


  

  /* https://www.w3schools.com/css/css3_flexbox_container.asp */

